@import url(https://fonts.googleapis.com/css?family=Oswald:600);

.wc-countdown-banner {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 10px;
	text-align: center;
	background: #a46497;
	color: #fff;
	z-index: 99999;

	 -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body.admin-bar .wc-countdown-banner {
	top: 32px;
}

.wc-countdown-banner .wccb-display-text {
	display: inline-block;
	font-size: 19px;
	font-weight: bold;
	line-height: 41px;
	text-transform: uppercase;
}

.wc-countdown-banner .wccb-clearfix:after {
	display: table;
	clear: both;
	content: '';
}

#wccb-countdown-container {
	display: inline-block;
	margin-left: 15px;
}

#wccb-countdown-container .wccb-time {
	border-radius: 5px;
	display: inline-block;
	text-align: center;
	position: relative;
	height: 28px;
	width: 50px;

	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	    -ms-backface-visibility: hidden;
	     -o-backface-visibility: hidden;
	        backface-visibility: hidden;

	-webkit-transform: translateZ(0);
	   -moz-transform: translateZ(0);
	    -ms-transform: translateZ(0);
	     -o-transform: translateZ(0);
	        transform: translateZ(0);

	-webkit-transform: translate3d(0,0,0);
	   -moz-transform: translate3d(0,0,0);
	    -ms-transform: translate3d(0,0,0);
	     -o-transform: translate3d(0,0,0);
	        transform: translate3d(0,0,0);
}

#wccb-countdown-container .wccb-count {
	background: #202020;
	color: #f8f8f8;
	display: block;
	font-family: 'Oswald', sans-serif;
	font-size: 17px;
	font-weight: bold;
	overflow: hidden;
	position: absolute;
	text-align: center;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
	top: 0;
	width: 100%;

	-webkit-transform: translateZ(0);
	   -moz-transform: translateZ(0);
	    -ms-transform: translateZ(0);
	     -o-transform: translateZ(0);
	        transform: translateZ(0);

	-webkit-transform-style: flat;
	   -moz-transform-style: flat;
	    -ms-transform-style: flat;
	     -o-transform-style: flat;
	        transform-style: flat;
}

#wccb-countdown-container .wccb-count.wccb-top {
	border-top: 1px solid rgba(255,255,255,0.2);
	border-radius: 5px 5px 0 0;
	height: 50%;

	-webkit-transform-origin: 50% 100%;
	   -moz-transform-origin: 50% 100%;
	    -ms-transform-origin: 50% 100%;
	     -o-transform-origin: 50% 100%;
	        transform-origin: 50% 100%;
}

#wccb-countdown-container .wccb-count.wccb-bottom {
	border-bottom: 1px solid #000;
	border-radius: 0 0 5px 5px;
	line-height: 0;
	height: 50%;
	top: 50%;

	background-image: linear-gradient(rgba(255,255,255,0.1), transparent);
	background-image: -webkit-linear-gradient(rgba(255,255,255,0.1), transparent);
	background-image: -moz-linear-gradient(rgba(255,255,255,0.1), transparent);
	background-image: -ms-linear-gradient(rgba(255,255,255,0.1), transparent);
	background-image: -o-linear-gradient(rgba(255,255,255,0.1), transparent);

	-webkit-transform-origin: 50% 0;
	   -moz-transform-origin: 50% 0;
	    -ms-transform-origin: 50% 0;
	     -o-transform-origin: 50% 0;
	        transform-origin: 50% 0;
}

#wccb-countdown-container .wccb-label {
	display: block;
	position: absolute;
	top: 30px;
	width: 100%;
	font-size: 9px;
	font-weight: bold;
	text-transform: uppercase;
}

/* Animation start */
#wccb-countdown-container .wccb-count.wccb-curr.wccb-top {
	-webkit-transform: rotateX(0deg);
	   -moz-transform: rotateX(0deg);
	    -ms-transform: rotateX(0deg);
	     -o-transform: rotateX(0deg);
	        transform: rotateX(0deg);

	z-index: 3;
}

#wccb-countdown-container .wccb-count.wccb-next.wccb-bottom {
	-webkit-transform: rotateX(90deg);
	   -moz-transform: rotateX(90deg);
	    -ms-transform: rotateX(90deg);
	     -o-transform: rotateX(90deg);
	        transform: rotateX(90deg);

	z-index: 2;
}

/* Animation end */
#wccb-countdown-container .wccb-flip .wccb-count.wccb-curr.wccb-top {
	-webkit-transition: all 250ms ease-in-out;
	   -moz-transition: all 250ms ease-in-out;
	    -ms-transition: all 250ms ease-in-out;
	     -o-transition: all 250ms ease-in-out;
	        transition: all 250ms ease-in-out;

	-webkit-transform: rotateX(-90deg);
	   -moz-transform: rotateX(-90deg);
	    -ms-transform: rotateX(-90deg);
	     -o-transform: rotateX(-90deg);
	        transform: rotateX(-90deg);
}

#wccb-countdown-container .wccb-flip .wccb-count.wccb-next.wccb-bottom {
	-webkit-transition: all 250ms ease-in-out 250ms;
	   -moz-transition: all 250ms ease-in-out 250ms;
	    -ms-transition: all 250ms ease-in-out 250ms;
	     -o-transition: all 250ms ease-in-out 250ms;
	        transition: all 250ms ease-in-out 250ms;

	-webkit-transform: rotateX(0deg);
	   -moz-transform: rotateX(0deg);
	    -ms-transform: rotateX(0deg);
	     -o-transform: rotateX(0deg);
	        transform: rotateX(0deg);
}

@media screen and (max-width: 782px) {

	.wc-countdown-banner {
		position: absolute;
	}

	body.admin-bar .wc-countdown-banner {
		top: 46px;
	}

	#wccb-countdown-container {
		width: 100%;
		height: auto;
		margin-left: 0;
		padding: 10px 0 15px;
	}

	#wccb-countdown-container .wccb-time {
		height: 36px;
		width: 48px;
	}

	#wccb-countdown-container .wccb-count {
		font-size: 22px;
	}

	#wccb-countdown-container .wccb-label {
		top: 40px;
		font-size: 10px;
	}

}
